{% if active_mode=='test' %}
    <div class="alert alert-info attention"><i class="fa fa-exclamation-circle"></i>&nbsp;{{ warning_test_mode }}</div>
{% endif %}
<div data-amount="{{ amount }}" style="float: left" id="paylike-payment-widget"></div>
<div class="buttons">
  <div class="pull-right">
    <input type="button" value="{{ button_confirm }}" id="button-confirm" class="btn btn-primary" />
  </div>
</div>
<script type="text/javascript" src="https://sdk.paylike.io/6.js"></script>
<script type="text/javascript"><!--
    $('#button-confirm').on('click', function() {
      $('.paylikealert').remove();
      var paylike = Paylike('{{ paylike_public_key }}');

        /* Integration with Journal 3 Theme - One Page Checkout
         * Disable preloader if is defined
         */
      try {
        $('.journal-loading-overlay').remove();
        triggerLoadingOff();
      } catch (error) {}

      paylike.popup({
        title: "{{ popup_title }}",
        currency: '{{ currency_code|upper }}',
        description: "{{ popup_description }}",
        amount: {{ amount }},
        locale: '{{ lc }}',
        custom: {
          orderId: '{{ order_id }}',
          products: {{ products }},
          customer: {
            name: "{{ name }}",
            email: '{{ email }}',
            phoneNo: '{{ telephone }}',
            address: "{{ address }}",
            IP: '{{ ip }}'
          },
          platform: {
            name: 'opencart',
            version: '{{ VERSION }}'
          },
          paylikePluginVersion: '{{ plugin_version }}'
        }
      }, function(err, res) {
        if (err)
          return console.log(err);

        console.log(res);
        console.log('++++++++++++++++++++++++++++');

        $.ajax({
          url: 'index.php?route=extension/payment/paylike/process_payment',
          type: 'post',
          data: {
            'trans_ref': res.transaction.id
          },
          dataType: 'json',
          cache: false,
          beforeSend: function() {
            $('#button-confirm').button('loading');
          },
          complete: function() {
            $('#button-confirm').button('reset');
          },
          success: function(json) {
            if (json.hasOwnProperty('error')) {
              var html = '<div class="alert alert-danger paylikealert"><i class="fa fa-exclamation-circle"></i> Warning: ' + json.error + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>';
              $('#button-confirm').closest('.buttons').before(html);
            }
            if (json.hasOwnProperty('redirect')) {
              var html = '<div class="alert alert-success paylikealert"><i class="fa fa-exclamation-circle"></i> ' + json.success + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>';
              $('#button-confirm').closest('.buttons').before(html);
              location.href = json.redirect;
            }
          }
        });
      });
    });
//--></script>
