{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-paylike" data-toggle="tooltip" title="{{ button_save }}"
                        class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i
                            class="fa fa-reply"></i></a>
                <a href="{{ paylike_payments }}" data-toggle="tooltip" title="{{ button_paylike_payments }}"
                        class="btn btn-success"><i class="fa fa-calculator"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>&nbsp;{{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success"><i class="fa fa-exclamation-circle"></i>&nbsp;{{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i>&nbsp;{{ text_edit_settings }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-paylike"
                        class="form-horizontal">
                    <div class="alert alert-info">{{ text_description }}</div>

                    <ul class="nav nav-tabs" id="tabs">
                        <li class="active"><a href="#tab-general_settings"
                                    data-toggle="tab">{{ text_general_settings }}</a></li>
                        <li><a href="#tab-advanced_settings" data-toggle="tab">{{ text_advanced_settings }}</a></li>
                    </ul>

                    <div class="tab-content">

                        <div class="tab-pane active" id="tab-general_settings">

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input_paylike_status"><span
                                            data-toggle="tooltip"
                                            title="{{ help_payment_enabled }}">{{ entry_payment_enabled }}</span></label>
                                <div class="col-sm-10">
                                    <select name="payment_paylike_status" id="input_paylike_status"
                                            class="form-control">
                                        {% if payment_paylike_status %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input_payment_method_title"><span
                                            data-toggle="tooltip"
                                            title="{{ help_payment_method_title }}">{{ entry_payment_method_title }}</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_paylike_method_title"
                                            value="{{ payment_paylike_method_title }}"
                                            placeholder="{{ entry_payment_method_title }}"
                                            id="input_payment_method_title" class="form-control"/>
                                    {% if error_payment_method_title %}
                                        <div class="text-danger">{{ error_payment_method_title }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><span data-toggle="tooltip"
                                            title="{{ help_checkout_cc_logo }}">{{ entry_checkout_cc_logo }}</span></label>
                                <div class="col-sm-10">
                                    <div class="well well-sm" style="overflow: auto;">
                                        {% for ccLogo in ccLogos %}
                                            <div class="checkbox">
                                                <label>
                                                    {% if ccLogo.logo in payment_paylike_checkout_cc_logo %}
                                                        <input type="checkbox" name="payment_paylike_checkout_cc_logo[]"
                                                                value="{{ ccLogo.logo }}" checked="checked"/>
                                                        {{ ccLogo.name }}
                                                    {% else %}
                                                        <input type="checkbox" name="payment_paylike_checkout_cc_logo[]"
                                                                value="{{ ccLogo.logo }}"/>
                                                        {{ ccLogo.name }}
                                                    {% endif %}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input_checkout_popup_title"><span
                                            data-toggle="tooltip"
                                            title="{{ help_checkout_popup_title }}">{{ entry_checkout_popup_title }}</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_paylike_checkout_title"
                                            value="{{ payment_paylike_checkout_title }}"
                                            placeholder="{{ entry_checkout_popup_title }}"
                                            id="input_checkout_popup_title" class="form-control"/>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input_api_mode"><span data-toggle="tooltip"
                                            title="{{ help_api_mode }}">{{ entry_api_mode }}</span></label>
                                <div class="col-sm-10">
                                    <select name="payment_paylike_api_mode" id="input_api_mode" class="form-control">
                                        {% if payment_paylike_api_mode == 'test' %}
                                            <option value="test" selected="selected">{{ text_test }}</option>
                                            <option value="live">{{ text_live }}</option>
                                        {% else %}
                                            <option value="test">{{ text_test }}</option>
                                            <option value="live" selected="selected">{{ text_live }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>


                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input_public_key_test"><span
                                            data-toggle="tooltip"
                                            title="{{ help_public_key_test }}">{{ entry_public_key_test }}</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_paylike_public_key_test"
                                            value="{{ payment_paylike_public_key_test }}"
                                            placeholder="{{ entry_public_key_test }}" id="input_public_key_test"
                                            class="form-control"/>
                                    {% if error_public_key_test %}
                                        <div class="text-danger">{{ error_public_key_test }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input_app_key_test"><span
                                            data-toggle="tooltip"
                                            title="{{ help_app_key_test }}">{{ entry_app_key_test }}</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_paylike_app_key_test"
                                            value="{{ payment_paylike_app_key_test }}"
                                            placeholder="{{ entry_app_key_test }}" id="input_app_key_test"
                                            class="form-control"/>
                                    {% if error_app_key_test %}
                                        <div class="text-danger">{{ error_app_key_test }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input_public_key_live"><span
                                            data-toggle="tooltip"
                                            title="{{ help_public_key_live }}">{{ entry_public_key_live }}</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_paylike_public_key_live"
                                            value="{{ payment_paylike_public_key_live }}"
                                            placeholder="{{ entry_public_key_live }}" id="input_public_key_live"
                                            class="form-control"/>
                                    {% if error_public_key_live %}
                                        <div class="text-danger">{{ error_public_key_live }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input_app_key_live"><span
                                            data-toggle="tooltip"
                                            title="{{ help_app_key_live }}">{{ entry_app_key_live }}</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_paylike_app_key_live"
                                            value="{{ payment_paylike_app_key_live }}"
                                            placeholder="{{ entry_app_key_live }}" id="input_app_key_live"
                                            class="form-control"/>
                                    {% if error_app_key_live %}
                                        <div class="text-danger">{{ error_app_key_live }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input_capture_mode"><span
                                            data-toggle="tooltip"
                                            title="{{ help_capture_mode }}">{{ entry_capture_mode }}</span></label>
                                <div class="col-sm-10">
                                    <select name="payment_paylike_capture_mode" id="input_capture_mode"
                                            class="form-control">
                                        {% if payment_paylike_capture_mode == 'instant' %}
                                            <option value="instant"
                                                    selected="selected">{{ text_capture_instant }}</option>
                                            <option value="delayed">{{ text_capture_delayed }}</option>
                                        {% else %}
                                            <option value="instant">{{ text_capture_instant }}</option>
                                            <option value="delayed"
                                                    selected="selected">{{ text_capture_delayed }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>


                        </div>


                        <div class="tab-pane" id="tab-advanced_settings">

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input_authorize_status_id"><span
                                            data-toggle="tooltip"
                                            title="{{ help_authorize_status_id }}">{{ entry_authorize_status_id }}</span></label>
                                <div class="col-sm-10">
                                    <select name="payment_paylike_authorize_status_id" id="input_authorize_status_id"
                                            class="form-control">
                                        {% for order_status in order_statuses %}
                                            {% if order_status.order_status_id == payment_paylike_authorize_status_id %}
                                                <option value="{{ order_status.order_status_id }}"
                                                        selected="selected">{{ order_status.name }}</option>
                                            {% else %}
                                                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input_capture_status_id"><span
                                            data-toggle="tooltip"
                                            title="{{ help_capture_status_id }}">{{ entry_capture_status_id }}</span></label>
                                <div class="col-sm-10">
                                    <select name="payment_paylike_capture_status_id" id="input_capture_status_id"
                                            class="form-control">
                                        {% for order_status in order_statuses %}
                                            {% if order_status.order_status_id == payment_paylike_capture_status_id %}
                                                <option value="{{ order_status.order_status_id }}"
                                                        selected="selected">{{ order_status.name }}</option>
                                            {% else %}
                                                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input_refund_status_id"><span
                                            data-toggle="tooltip"
                                            title="{{ help_refund_status_id }}">{{ entry_refund_status_id }}</span></label>
                                <div class="col-sm-10">
                                    <select name="payment_paylike_refund_status_id" id="input_refund_status_id"
                                            class="form-control">
                                        {% for order_status in order_statuses %}
                                            {% if order_status.order_status_id == payment_paylike_refund_status_id %}
                                                <option value="{{ order_status.order_status_id }}"
                                                        selected="selected">{{ order_status.name }}</option>
                                            {% else %}
                                                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input_void_status_id"><span
                                            data-toggle="tooltip"
                                            title="{{ help_void_status_id }}">{{ entry_void_status_id }}</span></label>
                                <div class="col-sm-10">
                                    <select name="payment_paylike_void_status_id" id="input_void_status_id"
                                            class="form-control">
                                        {% for order_status in order_statuses %}
                                            {% if order_status.order_status_id == payment_paylike_void_status_id %}
                                                <option value="{{ order_status.order_status_id }}"
                                                        selected="selected">{{ order_status.name }}</option>
                                            {% else %}
                                                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input_logging"><span data-toggle="tooltip"
                                            title="{{ help_logging }}">{{ entry_logging }}</span></label>
                                <div class="col-sm-10">
                                    <select name="payment_paylike_logging" id="input_logging" class="form-control">
                                        {% if payment_paylike_logging %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"><span data-toggle="tooltip"
                                            title="{{ help_store }}">{{ entry_store }}</span></label>
                                <div class="col-sm-10">
                                    <div class="well well-sm" style="overflow: auto;">
                                        {% for store in stores %}
                                            <div class="checkbox">
                                                <label>
                                                    {% if store.store_id in payment_paylike_store %}
                                                        <input type="checkbox" name="payment_paylike_store[]"
                                                                value="{{ store.store_id }}" checked="checked"/>
                                                        {{ store.name }}
                                                    {% else %}
                                                        <input type="checkbox" name="payment_paylike_store[]"
                                                                value="{{ store.store_id }}"/>
                                                        {{ store.name }}
                                                    {% endif %}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input_minimum_total"><span
                                            data-toggle="tooltip"
                                            title="{{ help_minimum_total }}">{{ entry_minimum_total }}</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_paylike_minimum_total"
                                            value="{{ payment_paylike_minimum_total }}"
                                            placeholder="{{ entry_minimum_total }}" id="input_minimum_total"
                                            class="form-control"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input_geo_zone"><span data-toggle="tooltip"
                                            title="{{ help_geo_zone }}">{{ entry_geo_zone }}</span></label>
                                <div class="col-sm-10">
                                    <select name="payment_paylike_geo_zone" id="input_geo_zone" class="form-control">
                                        <option value="0">{{ text_all_zones }}</option>
                                        {% for geo_zone in geo_zones %}
                                            {% if geo_zone.geo_zone_id == payment_paylike_geo_zone %}
                                                <option value="{{ geo_zone.geo_zone_id }}"
                                                        selected="selected">{{ geo_zone.name }}</option>
                                            {% else %}
                                                <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input_paylike_sort_order"><span
                                            data-toggle="tooltip"
                                            title="{{ help_sort_order }}">{{ entry_sort_order }}</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_paylike_sort_order"
                                            value="{{ payment_paylike_sort_order }}"
                                            placeholder="{{ entry_sort_order }}" id="input_paylike_sort_order"
                                            class="form-control"/>
                                </div>
                            </div>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript"><
    !--
        $('#tabs a:first').tab('show');
</script>

{{ footer }}
