{{ header }}{{ column_left }}
<div id="content">

<div class="page-header">
    <div class="container-fluid">
        <h1>{{ heading_title }}</h1>
        <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="container-fluid">
    {% if error_warning %}
        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
    <div class="row">
        <div id="filter-order" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label" for="input-order-id">{{ column_order_id }}</label>
                        <input type="text" name="filter_order_id" value="{{ filter_order_id }}" placeholder="{{ column_order_id }}" id="input_order_id" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="input-customer">{{ column_transaction_id }}</label>
                        <input type="text" name="filter_customer" value="{{ filter_transaction_id }}" placeholder="{{ column_transaction_id }}" id="input_transaction_id" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="input_transaction_type">{{ entry_transaction_type }}</label>
                        <select name="filter_transaction_type" id="input_transaction_type" class="form-control">
                            <option value=""></option>
                            {% for type in transaction_types %}
                                {% if type == filter_transaction_type %}
                                    <option value="{{ type }}" selected="selected">{{ type }}</option>
                                {% else %}
                                    <option value="{{ type }}">{{ type }}</option>
                                {% endif %}
                            {% endfor %}

                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="input_date_added">{{ entry_date_added }}</label>
                        <div class="input-group date">
                            <input type="text" name="filter_date_added" value="{{ filter_date_added }}" placeholder="{{ entry_date_added }}" data-date-format="YYYY-MM-DD" id="input_date_added" class="form-control" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <button type="button" id="button-filter" class="btn btn-default"><i class="fa fa-filter"></i> {{ button_filter }}</button>
                    </div>
                </div>
            </div>
        </div>

    <div class="col-md-9 col-md-pull-3 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
        </div>
        <div class="panel-body">
          <form method="post" action="" enctype="multipart/form-data" id="form-order">
            <div class="table-responsive" style="padding-bottom: 50px;">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td class="text-left" style="width:95px;">{% if sort == 'order_id' %} <a href="{{ sort_order_id }}" class="{{ order|lower }}">{{ column_order_id }}</a> {% else %} <a href="{{ sort_order_id }}">{{ column_order_id }}</a> {% endif %}</td>
                            <td class="text-left">{% if sort == 'transaction_id' %} <a href="{{ sort_transaction_id }}" class="{{ order|lower }}">{{ column_transaction_id }}</a> {% else %} <a href="{{ sort_transaction_id }}">{{ column_transaction_id }}</a> {% endif %}</td>
                            <td class="text-left" style="width:100px;">{% if sort == 'transaction_type' %} <a href="{{ sort_transaction_type }}" class="{{ order|lower }}">{{ column_transaction_type }}</a> {% else %} <a href="{{ sort_transaction_type }}">{{ column_transaction_type }}</a> {% endif %}</td>
                            <td class="text-left" style="width:150px;">{% if sort == 'date_added' %} <a href="{{ sort_date_added }}" class="{{ order|lower }}">{{ column_date_added }}</a> {% else %} <a href="{{ sort_date_added }}">{{ column_date_added }}</a> {% endif %}</td>
                            <td class="text-right" style="width:100px;">{{ column_order_amount }}</td>
                            <td class="text-right" style="width:100px;">{{ column_transaction_amount }}</td>
                            <td class="text-right" style="width:100px;">{{ column_total_amount }}</td>
                            <td class="text-right" style="width:100px;">{{ column_action }}</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% if transactions %}
                            {% for trans in transactions %}
                            <tr>
                                <td class="text-center"><a href="{{ trans.order_link }}" target="_blank">{{ trans.order_id }}</a></td>
                                <td class="text-left">{{ trans.transaction_id }}</td>
                                <td class="text-left">{{ trans.transaction_type }}</td>
                                <td class="text-left">{{ trans.date_added }}</td>
                                <td class="text-right">{{ trans.order_amount }}</td>
                                <td class="text-right">{{ trans.transaction_amount }}</td>
                                <td class="text-right">{{ trans.total_amount }}</td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <a href="{{ trans.action_history }}" data-toggle="tooltip" title="{{ button_history }}" class="btn btn-default gethistory"><i class="fa fa-eye"></i></a>
                                        {% if ((trans.transaction_type != 'Refund' or trans.allowed_refund!=0) and trans.transaction_type != 'Void') %}
                                            <button type="button" data-toggle="dropdown" class="btn {% if trans.transaction_type == 'Authorize' %}btn-primary{% else %}btn-default{% endif %} dropdown-toggle"><span class="caret"></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right newtransaction">
                                                {% if trans.transaction_type == 'Authorize' %}
                                                    <li><a href="javascript:;" data-type="Capture" data-ref="{{ trans.transaction_id }}" data-amount="{{ trans.allowed_capture }}" data-currency="{{ trans.currency|upper }}"><i class="fa fa-pencil"></i> {{ button_capture }}</a></li>
                                                    <li><a href="javascript:;" data-type="Void" data-ref="{{ trans.transaction_id }}" data-amount="{{ trans.allowed_capture }}" data-currency="{{ trans.currency|upper }}"><i class="fa fa-trash-o"></i> {{ button_void }}</a></li>
                                                {% elseif trans.transaction_type == 'Capture' or trans.transaction_type == 'Refund' %}
                                                    <li><a href="javascript:;" data-type="Refund" data-ref="{{ trans.transaction_id }}" data-amount="{{ trans.allowed_refund }}" data-currency="{{ trans.currency|upper }}"><i class="fa fa-trash-o"></i> {{ button_refund }}</a></li>
                                                {% endif %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td class="text-center" colspan="8">{{ text_no_results }}</td>
                            </tr>
                        {% endif %}
                    </tbody>

                </table>
            </div>
          </form>
          <div class="row">
            <div class="col-sm-6 text-left">{{ pagination }}</div>
            <div class="col-sm-6 text-right">{{ results }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript"><!--
    $('#button-filter').on('click', function() {
        url = '';
        var filter_order_id = $('input[name=\'filter_order_id\']').val();
        if (filter_order_id) {
            url += '&filter_order_id=' + encodeURIComponent(filter_order_id);
        }
        var filter_transaction_id = $('input[name=\'filter_transaction_id\']').val();
        if (filter_transaction_id) {
            url += '&filter_transaction_id=' + encodeURIComponent(filter_transaction_id);
        }
        var filter_transaction_type = $('select[name=\'filter_transaction_type\']').val();
        if (filter_transaction_type !== '') {
            url += '&filter_transaction_type=' + encodeURIComponent(filter_transaction_type);
        }
        var filter_date_added = $('input[name=\'filter_date_added\']').val();
        if (filter_date_added) {
            url += '&filter_date_added=' + encodeURIComponent(filter_date_added);
        }
        location = 'index.php?route=extension/payment/paylike/payments&{{ url_token_param }}' + url;
    });
//--></script>

<script src="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<link href="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen" />
<script type="text/javascript"><!--
    $('.date').datetimepicker({
        pickTime: false
    });
//--></script>


<div class="modal fade" id="PaylikeWindow" role="dialog">
    <div class="modal-dialog modal-md vertical-align-center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div id="plt-transaction" class="form-horizontal">
                    <p>{{ popup_description }}</p>
                    <div class="form-group">
                        <label class="col-sm-4 text-right">{{ popup_transaction_id }}</label>
                        <div class="col-md-8">
                            <input class="form-control input-sm"  id="plt-ref" name="ref" type="text" value="" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 text-right">{{ popup_transaction_type }}</label>
                        <div class="col-md-8">
                            <input class="form-control input-sm" id="plt-type" name="type" type="text" value="" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 text-right">{{ popup_amount }} (<span id="plt-c"></span>):</label>
                        <div class="col-md-8">
                            <input class="form-control input-sm" id="plt-amount" name="amount" type="text" value="" readonly />
                        </div>
                    </div>
                    <div id="plt-result"></div>
                </div>
                <div id="plt-history"></div>
            </div>
            <div class="modal-footer">
                <button type="button" id="button_close" data-dismiss="modal" class="btn btn-default pull-left">{{ popup_close }}</button>
                <button type="button" class="btn btn-primary pull-right runtransaction">{{ popup_execute }}</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript"><!--
    $('body').on('click', '.newtransaction a', function(e) {
        e.preventDefault();
        $('#PaylikeWindow #plt-history').html('');
        $('#PaylikeWindow .runtransaction').show();
        $('#PaylikeWindow #plt-history').hide();
        $('#PaylikeWindow #plt-transaction').show();
        $('#PaylikeWindow #plt-result').html('');
        $('#PaylikeWindow .modal-title').text('{{ popup_title_transaction }}');
        $('#PaylikeWindow #plt-transaction > p').text('{{ popup_description }}');
        $('#PaylikeWindow #plt-ref').val($(this).data('ref'));
        $('#PaylikeWindow #plt-type').val($(this).data('type'));
        $('#PaylikeWindow #plt-amount').val($(this).data('amount'));
        $('#PaylikeWindow #plt-c').text($(this).data('currency'));
        if($(this).data('type') == 'Refund'){
            $('#PaylikeWindow #plt-amount').attr('readonly', false);
        } else {
            $('#PaylikeWindow #plt-amount').attr('readonly', true);
        }
        $('#PaylikeWindow').modal('show');
    });

    $('body').on('click', '.runtransaction', function(e) {
        e.preventDefault();
        $.ajax({
            url: 'index.php?route=extension/payment/paylike/transaction&{{ url_token_param }}',
            dataType: 'json',
            type: 'POST',
            data: 'ref=' + $('#PaylikeWindow #plt-ref').val() + '&type=' + $('#PaylikeWindow #plt-type').val() + '&amount=' + $('#PaylikeWindow #plt-amount').val() ,
            success: function( data, textStatus, jQxhr ){
                if(data.error){
                    $('#PaylikeWindow #plt-result').html('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + data.error + '</div>');
                } else {
                    $('#PaylikeWindow #plt-result').html('<div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> ' + data.success + '</div>');
                    $('#PaylikeWindow .runtransaction').hide();
                    $('#button_close').click(function(e) {
                        e.preventDefault();
                        location.reload();
                    });
                }
            },
            error: function( jqXhr, textStatus, errorThrown ){
                console.log( errorThrown );
                $('#PaylikeWindow #plt-result').html('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + errorThrown + '</div>');
            }
        });
    });

    $('body').on('click', '.gethistory', function(e) {
        e.preventDefault();
        $('#PaylikeWindow #plt-history').html('');
        $('#PaylikeWindow .runtransaction').hide();
        $('#PaylikeWindow #plt-result').html('');
        $('#PaylikeWindow #plt-transaction').hide();
        $('#PaylikeWindow #plt-history').show();
        $('#PaylikeWindow #plt-ref').val('');
        $('#PaylikeWindow #plt-type').val('');
        $('#PaylikeWindow #plt-amount').val('');
        $('#PaylikeWindow #plt-c').text('');
        $('#PaylikeWindow').modal('show');
        $.ajax({
            url: $(this).attr('href'),
            dataType: 'html',
            type: 'GET',
            success: function( data, textStatus, jQxhr ){
                $('#PaylikeWindow #plt-history').html(data);
            },
            error: function( jqXhr, textStatus, errorThrown ){
                console.log( errorThrown );
            }
        });
    });
//--></script>

</div>
{{ footer }}
